.navbar {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.55);

  svg {
    transition: color 420ms;
    color: white;
  }

  svg:hover {
    color: #26c5de;
    cursor: pointer;
  }
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0.6rem;
    color: white;
    transition: color 420ms;
  }

  a:hover {
    color: #26c5de;
  }
}
