@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) { */
:root {
  --background-start: #202020;
  --background-end: #151515;
  --foreground: #fff;
}
/* } */

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}
