.ppic_wrapper {
  border-radius: 50%;
  border: #26c5de 0.5rem solid;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 2.5rem;
}

.ppic {
  border-radius: 50%;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
}
