.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    padding: 0.6rem;
    color: white;
    transition: color 420ms;
  }

  a:hover {
    color: #26c5de;
  }
}
